body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

#mainbaggrund {
    background-image: url("/image/background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

main {
    text-align: center;
    margin: 0px calc(10vw + 50px);
}

.dato {
    width: 200px;
    font-size: calc(1em + 5px);
}

nav {
    margin: 0px;
    width: 100%;
    height: 150px;
    text-align: center;
    background-image: url("/image/wavee.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.navtext {
    margin-top: -20px;
    color: darkblue;
    font-weight: 600;
    font-size: 25px;
    padding-right: 20px;
}

#menu {
    padding: 20px 80px;
    z-index: 1;
    position: sticky;
    top: 0;
}

.bubble-box {
    position: absolute;
    display: inline-block;
    width: 300px;
}

.bubble {
    width: calc(3vw + 150px);
    border-radius: 50%;
    transition: 2s ease;
}

.bubble-text {
    position: absolute;
    width: calc(3vw + 150px);
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px lightblue;
    font-size: calc(0.3vw + 18px);
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.bubble-textRev {
    position: absolute;
    width: calc(3vw + 150px);
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: navy;
    font-size: calc(0.4vw + 22px);
    font-weight: bold;
    Text-shadow: 2px 2px lightblue;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bubble-box:hover .bubble {
    filter: grayscale(50%) blur(2px) opacity(50%) drop-shadow(9px 9px 9px blue);
    transform: scale(2);
}

.bubble-box:hover .bubble-text {
    opacity: 1;
    transition: opacity 2.5s ease;
}

.bubble-box:hover .bubble-textRev {
    opacity: 0;
    transition: opacity 0.5s ease;
}
/* footer */
footer {
    font-size: calc(0.8vw + 3px);
    height: auto;
    position: fixed;
    padding: 20px;
    align-content: center;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

    footer p {
        margin: 0;
        padding: 0;
        height: 4px;
    }

    footer li {
        margin: 0;
        padding: 0;
        height: 4px;
    }

.footerBold {
    font-weight: bold;
}

.mainIndex {
    min-height: 2300px;
}
/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    font-weight: bold;
    width: auto;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    /* Links i dropdown */
    .dropdown-content a {
        color: navy;
        padding: 12px 16px;
        display: block;
    }

.dropdown:hover .navtext {
    color: orange;
}

.dropdown-content a:hover {
    background-color: orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a {
    text-decoration: none;
}
/* udstyrside */
.imgTypeDyk {
    width: calc(10vw + 50px);
    height: auto;
    border-radius: 50%;
}

.imgTypeDyk-text {
    width: calc(10vw + 100px);
    color: navy;
    margin: 0;
    text-shadow: 1px 1px lightblue;
    font-size: calc(0.7vw + 18px);
    font-weight: 600;
}

.imgTypeDyk:hover {
    filter: drop-shadow(9px 9px 9px blue);
}
/* layout content*/
.content {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin: 0;
    text-align: left;
}










/*noget der var der, kan sikkert slettes*/
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
